Repository jared-jewitt/frontend-booster-nextjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write **/*.{tsx,ts}, eslint --fix **/*.{tsx,ts}, stylelint --fix **/*.{sass,scss,less}

Minor bug fixes
  Makefile
  src/constants/guards.ts
  src/pages/_app.tsx
  tests/integration/plugins/index.ts
Due: prettier --write **/*.{tsx,ts}, eslint --fix **/*.{tsx,ts}

Refactor Docker and environment variable configuration
  .browserslistrc
  .eslintrc
  .gitignore
  .mocharc.js
  .mocharc.json
  DEPLOYMENT.md
  Makefile
  README.md
  cypress.json
  docker/Dockerfile-client.development
  docker/Dockerfile-client.production
  docker/Dockerfile-client.test
  docker/docker-compose.cd.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.development.yml
  docker/docker-compose.local.yml
  docker/docker-compose.production.yml
  docker/docker-compose.test.yml
  google-cloud-build/build.yaml
  google-cloud-build/promote.yaml
  google-cloud-build/test.yaml
  package-lock.json
  package.json
  setup.sh
  tests/e2e/fixtures/example.json
  tests/e2e/plugins/index.ts
  tests/e2e/scenarios/1-authentication/login.spec.ts
  tests/e2e/scenarios/1-authentication/logout.spec.ts
  tests/e2e/scenarios/2-products/view-product.spec.ts
  tests/e2e/scenarios/3-account/view-account.spec.ts
  tests/e2e/support/commands.ts
  tests/e2e/support/index.d.ts
  tests/e2e/support/index.ts
  tests/integration/support/index.d.ts
  tests/unit/cookie.spec.ts
  tsconfig.json
  typings/styles.d.ts
Due: prettier --write **/*.{tsx,ts}, eslint --fix **/*.{tsx,ts}

Add setup script to Cloud Build CI
  google-cloud-build/test.yaml
Due: none

Add NODE_ENV to build script
  package.json
Due: none

Replace stylelint less package with scss
  .stylelintrc
  package-lock.json
  package.json
Due: none

Add dotenv-flow package
  package-lock.json
  package.json
Due: none

Update packages
  .babelrc
  .browserslistrc
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .stylelintrc
  README.md
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/scss/global.scss
  src/scss/mixins/_breakpoint.scss
  src/scss/variables/_theme.scss
  tsconfig.json
Due: prettier --write **/*.{tsx,ts}, eslint --fix **/*.{tsx,ts}, stylelint --fix **/*.{sass,scss,less}

Update ESLint rules
  .eslintrc
Due: none

Update build script
  package.json
Due: none

Path conditions:
  prettier --write **/*.{tsx,ts}: any of: **/*.{tsx,ts}
  eslint --fix **/*.{tsx,ts}: any of: **/*.{tsx,ts}
  stylelint --fix **/*.{sass,scss,less}: any of: **/*.{sass,scss,less}
